@{
    ViewBag.Title = "About";
}
	<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/slide1-03.jpg);">
    <h2 class="tit6 t-center">
        Reservation
    </h2>
</section>


<!-- Reservation -->
<section  body ng-app class="section-reservation bg1-pattern p-t-100 p-b-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-b-30">
                <div class="t-center">
                    <span class="tit2 t-center">
                        Reservation
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        Get Estimate                       
                    </h3>
                </div>
                @using (Html.BeginForm("Estimate", "Home", FormMethod.Post))
                {
                <form class="wrap-form-booking">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Date -->
                            <span class="txt9">
                                Date
                            </span>

                            <div class="wrap-inputdate pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="my-calendar bo-rad-10 sizefull txt10 p-l-20" type="text" name="sdate">
                                <i class="btn-calendar fa fa-calendar ab-r-m hov-pointer m-r-18" aria-hidden="true"></i>
                            </div>

                            <span class="txt9">
                                Address
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="Address" placeholder="Address">
                            </div>
                            <!-- People -->
                            <span class="txt9">
                                Desired Service
                            </span>

                            <div class="form-group wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="form-control" style="height:46px;" ng-model="e" name="cleaning">
                                    <option value="100">Regular Cleaning</option>
                                    <option value="150">Deep Cleaning</option>
                                    <option value="200">Move out Cleaning</option>
                                    <option value="150">Move in Cleaning</option>
                                    <option value="100">Vacation Rental Cleaning</option>
                                    <option value="100">Office Cleaning</option>
                                    <option value="280">Post Construction Cleaning</option>
                                    <option value="50">Window CLeaning</option>
                                </select>
                            </div>

                            <!-- People -->
                            <span class="txt9">
                                Number of pets
                            </span>

                            <div class="form-group wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="form-control " style="height:46px;" ng-model="d" name="pet">
                                    <option value="0">None</option>
                                    <option value="20">1 Pet</option>
                                    <option value="25">2 pets</option>.
                                    <option value="30">3 pets</option>
                                    <option value="40">4 pets</option>
                                    <option value="50">5 pets</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <!-- Time -->
                            <span class="txt9">
                                Time
                            </span>

                            <div class="form-group wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-35" style="margin-bottom:23px;">
                                <!-- Select2 -->
                                <select class="form-control" style="height:46px;" name="stime">
                                    <option>9:00</option>
                                    <option>9:30</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>11:00</option>
                                    <option>11:30</option>
                                    <option>12:00</option>
                                    <option>12:30</option>
                                    <option>13:00</option>
                                    <option>13:30</option>
                                    <option>14:00</option>
                                    <option>14:30</option>
                                    <option>15:00</option>
                                    <option>15:30</option>
                                    <option>16:00</option>
                                    <option>16:30</option>
                                    <option>17:00</option>
                                    <option>17:30</option>
                                    <option>18:00</option>
                                </select>
                            </div>

                            <!-- Email -->
                            <span class="txt9">
                                Email
                            </span>

                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="semail" placeholder="Email">
                            </div>

                            <!-- People -->
                            <span class="txt9">
                                Number of Bathrooms
                            </span>

                            <div class="form-group wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="form-control" style="height:46px;" ng-model="c" name="bathrooms">
                                    <option value="20">One Bathroom</option>
                                    <option value="30">Two Bathrooms</option>
                                    <option value="40">Three Bathrooms</option>
                                    <option value="50">Four Bathrooms</option>
                                    <option value="60">Five Bathrooms</option>
                                    <option value="70">Six Bathrooms</option>
                                    <option value="80">Seven Bathrooms</option>
                                    <option value="90">Eight Bathrooms</option>
                                    <option value="100">Nine Bathrooms</option>
                                    <option value="120">Ten Bathrooms</option>
                                    <option value="140">Eleven Bathrooms</option>
                                    <option value="150">Twelve Bathrooms</option>
                                </select>
                            </div>
                            <span class="txt9">
                                Property Square Feet
                            </span>

                            <div class="form-group wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="form-control" style="height:46px;" ng-model="b" name="size">
                                    <option value="30">Up To 500</option>
                                    <option value="40">Up To 700</option>
                                    <option value="50">Up To 900</option>
                                    <option value="60">Up To 1100</option>
                                    <option value="70">Up To 1300</option>
                                    <option value="80">Up To 1500</option>
                                    <option value="90">Up To 1800</option>
                                    <option value="100">Up To 2000</option>
                                    <option value="130">Up To 2400</option>
                                    <option value="140">More Than 2400</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <!-- Name -->
                            <span class="txt9">
                                Name
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="sname" placeholder="Name">
                            </div>

                            <!-- Phone -->
                            <span class="txt9">
                                Phone
                            </span>

                            <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="sphone" placeholder="Phone">
                            </div>

                            <!-- People -->
                            <span class="txt9">
                                Number Of Bedrooms
                            </span>

                            <div class="form-group wrap-inputpeople size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <!-- Select2 -->
                                <select class="form-control" style="height:46px;" ng-model="a" name="Bedrooms">
                                    <option value="10">One Bedroom</option>
                                    <option value="20">Two Bedrooms</option>
                                    <option value="30">Three Bedrooms</option>
                                    <option value="40">Four Bedrooms</option>
                                    <option value="50">Five Bedrooms</option>
                                    <option value="60">Six Bedrooms</option>
                                    <option value="70">Seven Bedrooms</option>
                                    <option value="80">Eight Bedrooms</option>
                                    <option value="90">Nine Bedrooms</option>
                                    <option value="100">Ten Bedrooms</option>
                                    <option value="110">Eleven Bedrooms</option>
                                    <option value="120">Twelve Bedrooms</option>
                                </select>
                            </div>
                            <!-- People -->
                            <span class="txt9">
                                Comments
                            </span>

                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Comments">
                            </div>
                          
                        </div>
                    </div>
                        <div class="wrap-btn-booking flex-c-m m-t-30">
                            <h4 ng-show="a" class="txt5 m-b-18">
                                Amazing Price $ {{  a--c--d--e--f--g--h--b}}
                                </h4>
                        </div>
                        <div class="wrap-btn-booking flex-c-m m-t-50">
                            <!-- Button3 -->
                            <button type="submit" onclick="" class="btn3 flex-c-m size13 txt11 trans-0-4">
                                Reserve 
                            </button>
                        </div>
                </form>    
                }
            </div>
        </div>

        <div class="info-reservation flex-w p-t-30">
            <div class="size23 w-full-md p-t-40 p-r-30 p-r-0-md">
                <h4 class="txt5 m-b-18">
                    Reserve by Phone
                </h4>

                <p class="size25">
                    Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus.
                    <span class="txt25">Nulla vulputate</span>
                    , lectus vel volutpat efficitur, orci
                    <span class="txt25">lacus sodales</span>
                    sem, sit amet quam:
                    <span class="txt24">(001) 345 6889</span>
                </p>
            </div>

            <div class="size24 w-full-md p-t-40">
                <h4 class="txt5 m-b-18">
                    For Custom cleaning
                </h4>

                <p class="size26">
                    Donec feugiat ligula rhoncus:
                    <span class="txt24">(001) 345 6889</span>
                    , varius nisl sed, tinci-dunt lectus sodales sem.
                </p>
            </div>

        </div>
    </div>
</section>
