@{
    ViewBag.Title = "Contact";
}

	<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/slide1-02.jpg);">
    <h2 class="tit6 t-center">
        Contact
    </h2>
</section>



<!-- Contact form -->
<section class="section-contact bg1-pattern p-t-90 p-b-100">
    <!-- Map -->
    <div class="container">
        <div class="map bo-rad-10 of-hidden">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190271.22651907743!2d-87.73265719834293!3d41.828531556834804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+Illinois!5e0!3m2!1ses-419!2sus!4v1544219889196" width="1160" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="container">
        <h3 class="tit7 t-center p-b-32 p-t-90">
            Send us a Message
        </h3>
    @using (Html.BeginForm("Email", "Home", FormMethod.Post))
    {
        <form name="sentMessage" id="contactForm" class="wrap-form-reservation size22 m-l-r-auto">
            <div class="row">
                <div class="col-md-4">
                    <!-- Name -->
                    <span class="txt9">
                        Name
                    </span>

                    <div class="form-group wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                        <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="sname" id="sname" placeholder="Name">
                    </div>
                </div>

                <div class="col-md-4 ">
                    <!-- Email -->
                    <span class="txt9">
                        Email
                    </span>

                    <div class="form-group wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                        <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="semail" name="semail" placeholder="Email">
                    </div>
                </div>

                <div class="col-md-4 ">
                    <!-- Phone -->
                    <span class="txt9">
                        Phone
                    </span>

                    <div class="form-group wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                        <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" id="sphone" name="sphone" placeholder="Phone">
                    </div>
                </div>

                <div class="col-12 form-group">
                    <!-- Message -->
                    <span class="txt9">
                        Message
                    </span>
                    <textarea class="form-control bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" id="smessage" name="smessage" placeholder="Message"></textarea>
                </div>
            </div>

            <div class="wrap-btn-booking flex-c-m m-t-40">
                <!-- Button3 -->
                <button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
                    Submit
                </button>
            </div>
        </form>
      }
        <div class="row p-t-30 p-l-70">
            <div class="col-sm-8 col-md-4 col-lg-4 m-l-r-auto p-t-30">
                <div class="dis-flex m-l-23">
                    <div class="p-r-40 p-t-6">
                        <img src="~/images/icons/map-icon.png" alt="IMG-ICON">
                    </div>

                    <div class="flex-col-l">
                        <span class="txt5 p-b-10">
                            Location
                        </span>

                        <span class="txt23 size38">
                            8th floor, 379 Hudson St, New York, NY 10018
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-3 col-lg-4 m-l-r-auto p-t-30">
                <div class="dis-flex m-l-23">
                    <div class="p-r-40 p-t-6">
                        <img src="~/images/icons/phone-icon.png" alt="IMG-ICON">
                    </div>


                    <div class="flex-col-l">
                        <span class="txt5 p-b-10">
                            Call Us
                        </span>

                        <span class="txt23 size38">
                            (+1) 96 716 6879
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-5 col-lg-4 m-l-r-auto p-t-30">
                <div class="dis-flex m-l-23">
                    <div class="p-r-40 p-t-6">
                        <img src="~/images/icons/clock-icon.png" alt="IMG-ICON">
                    </div>


                    <div class="flex-col-l">
                        <span class="txt5 p-b-10">
                            Opening Hours
                        </span>

                        <span class="txt23 size38">
                            09:30 AM – 11:00 PM <br />Every Day
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>